@model IEnumerable<Corbet.Ui.Models.SupplierDetailsViewModel>

@{
    ViewData["Title"] = "GetAllSupplierDetails";
    int counter = 0;
}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->


        <li class="nav-item ">
            <a class="nav-link collapsed"
               asp-controller="Role"
               asp-action="GetAllRoles">
                <i class="bi bi-menu-button-wide"></i><span>Roles</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed"
               asp-controller="UserRegister"
               asp-action="GetAllUsers">
                <i class="bi bi-menu-button-wide"></i><span>All Users</span>
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link collapsed"
               asp-controller="Supplier"
               asp-action="GetAllSuppliers">
                <i class="bi bi-menu-button-wide"></i><span>All Suppliers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"
               asp-controller="Product"
               asp-action="GetAllProducts">
                <i class="bi bi-menu-button-wide"></i><span>Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               data-bs-target="#generics-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Generics</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="generics-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="UnitMeasurement" asp-action="GetAllUnitMeasurements">
                        <i class="bi bi-circle"></i><span>Unit Data</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#tax-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Tax Management</span>
                    </a>
                    <ul id="tax-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxes">
                                <i class="bi bi-circle"></i><span>Tax Types</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxDetails">
                                <i class="bi bi-circle"></i><span>Tax Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#category-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Product Category Management</span>
                    </a>
                    <ul id="category-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="ProductCategory" asp-action="GetAllCategories">
                                <i class="bi bi-circle"></i><span>Product Category</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="CategoryDetails" asp-action="GetAllCategoryDetails">
                                <i class="bi bi-circle"></i><span>Product Category Details</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Product" asp-action="GetAllProductSubCategories">
                        <i class="bi bi-circle"></i><span>Product Sub-Categories</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<!-- End Sidebar -->
<h1>All Supplier Details</h1>

<p>
    <a class="btn btn-primary" asp-action="AddSupplierDetails">Add Supplier Details</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Sr.No.
               @* @Html.DisplayNameFor(model => model.SupplierId)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditLimit)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.CreditPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @*@Html.DisplayFor(modelItem => item.SupplierId)*@
                @{counter++;}
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditLimit)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.CreditPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>*@
            <td>
              <a class="btn btn-sm btn-primary" asp-controller="SupplierDetails" asp-action="UpdateSupplierDetails" asp-route-id="@item.SupplierId"><i class="ri-edit-box-fill "></i></a>
              <button class="btn btn-sm btn-danger" asp-action="DeleteCategory" onclick="DeleteAlert('@item.SupplierId')"><i class="ri-delete-bin-6-fill "></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
