@model Corbet.Ui.Models.ProductResponseDto

@{
    ViewData["Title"] = "UpdateProduct";
}
@Html.Raw(ViewBag.productUpdateAlert)
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->


        <li class="nav-item ">
            <a class="nav-link collapsed"
               asp-controller="Role"
               asp-action="GetAllRoles">
                <i class="bi bi-menu-button-wide"></i><span>Roles</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed"
               asp-controller="UserRegister"
               asp-action="GetAllUsers">
                <i class="bi bi-menu-button-wide"></i><span>All Users</span>
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link collapsed"
               asp-controller="Supplier"
               asp-action="GetAllSuppliersForAdmin">
                <i class="bi bi-menu-button-wide"></i><span>All Suppliers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Product"
               asp-action="GetAllProducts">
                <i class="bi bi-menu-button-wide"></i><span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#generics-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Generics</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="generics-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="UnitMeasurement" asp-action="GetAllUnitMeasurements">
                        <i class="bi bi-circle"></i><span>Unit Data</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#tax-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Tax Management</span>
                    </a>
                    <ul id="tax-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxes">
                                <i class="bi bi-circle"></i><span>Tax Types</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxDetails">
                                <i class="bi bi-circle"></i><span>Tax Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#category-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Product Category Management</span>
                    </a>
                    <ul id="category-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="ProductCategory" asp-action="GetAllCategories">
                                <i class="bi bi-circle"></i><span>Product Category</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="CategoryDetails" asp-action="GetAllCategoryDetails">
                                <i class="bi bi-circle"></i><span>Product Category Details</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="SubCategory" asp-action="GetAllSubCategory">
                        <i class="bi bi-circle"></i><span>Product Sub-Categories</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#stock-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Stock Management</span>
                    </a>
                    <ul id="stock-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="StockType" asp-action="GetAllStockTypes">
                                <i class="bi bi-circle"></i><span>Stock Types</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<!-- End Sidebar -->
<div class="pagetitle">
    <h1>Update Product</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="GetAllProducts">Products</a></li>
            <li class="breadcrumb-item active">Update Product</li>
        </ol>
    </nav>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="CategoryId" class="form-control form-select" data-category="@Model.CategoryId" id="ddlCategory"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="SubCategoryId" class="form-control form-select" data-subcategory="@Model.SubCategoryId" id="ddlSubcategory"></select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="UnitId" class="form-control form-select" data-unit="@Model.UnitId" id="ddlUnit"></select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimarySupplierId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="PrimarySupplierId" class="form-control form-select" data-primarysupplier="@Model.PrimarySupplierId" id="ddlPrimarySupplier"></select>
                <span asp-validation-for="PrimarySupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondarySupplierId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="SecondarySupplierId" class="form-control form-select" data-secondarysupplier="@Model.SecondarySupplierId" id="ddlSecondarySupplier"></select>
                <span asp-validation-for="SecondarySupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Upload Image</label>
                <input asp-for="Image" accept="image/jpeg, image/png, image/jpg" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="TaxId" class="form-control form-select" data-tax="@Model.TaxId" id="ddlTax"></select>
                <span asp-validation-for="TaxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <span class="text-danger">*</span>
                <select class="form-control form-select" asp-for="IsActive">
                    <option value="false">InActive</option>
                    <option value="true">Active</option>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-warning" asp-action="GetAllProducts">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var ddlCategory = $('#ddlCategory');
            ddlCategory.append($("<option></option>").val('').html('Select Category'));
            $.ajax({
                url: 'https://localhost:7221/Product/CategoryDdl',
                type: 'GET',
                dataType: 'json',
                success: function(d) {
                    console.table(d);
                    $.each(d, function(i, category) {
                        ddlCategory.append($("<option></option>").val(category.categoryId).html(category.categoryName));
                    });
                    ddlCategory.val(ddlCategory.data("category"));
                },
                error: function() {
                    alert('Error!');
                }
            });

            const ddlSubcategory = $('#ddlSubcategory');
            ddlSubcategory.append($("<option></option>").val('').html('Please wait ...'));

            $.ajax({
                url: 'https://localhost:7221/Product/SubcategoryDdl/' + ddlCategory.data("category"),
                type: 'GET',
                dataType: 'json',
                //data: { CategoryId: CategoryId },
                success: function(d) {
                    console.table(d);
                    ddlSubcategory.empty(); // Clear the please wait
                    ddlSubcategory.append($("<option></option>").val('').html('Select Sub Category'));
                    $.each(d, function(i, subcategory) {
                        ddlSubcategory.append($("<option></option>").val(subcategory.subCategoryId).html(subcategory.subCategoryName));
                    });
                    ddlSubcategory.val(ddlSubcategory.data("subcategory"));

                },
                error: function() {
                    alert('Error!');
                }
            });

            $("#ddlCategory").change(function() {

                const CategoryId = parseInt($(this).val());
                console.log(CategoryId);

                if (!isNaN(CategoryId)) {
                    const ddlSubcategory = $('#ddlSubcategory');
                    ddlSubcategory.empty();
                    ddlSubcategory.append($("<option></option>").val('').html('Please wait ...'));

                    $.ajax({
                        url: 'https://localhost:7221/Product/SubcategoryDdl/' + CategoryId,
                        type: 'GET',
                        dataType: 'json',
                        //data: { CategoryId: CategoryId },
                        success: function(d) {
                            console.table(d);
                            ddlSubcategory.empty(); // Clear the please wait
                            ddlSubcategory.append($("<option></option>").val('').html('Select Sub Category'));
                            $.each(d, function(i, subcategory) {
                                ddlSubcategory.append($("<option></option>").val(subcategory.subCategoryId).html(subcategory.subCategoryName));
                            });

                        },
                        error: function() {
                            alert('Error!');
                        }
                    });
                }

            });


            var ddlUnit = $('#ddlUnit');
            ddlUnit.append($("<option></option>").val('').html('Select Unit'));
            $.ajax({
                url: 'https://localhost:7221/Product/UnitDdl',
                type: 'GET',
                dataType: 'json',
                success: function(d) {
                    console.table(d);
                    $.each(d, function(i, unit) {
                        ddlUnit.append($("<option></option>").val(unit.id).html(unit.type));
                    });
                    ddlUnit.val(ddlUnit.data("unit"));
                },
                error: function() {
                    alert('Error!');
                }
            });

            var ddlPrimarySupplier = $('#ddlPrimarySupplier');
            ddlPrimarySupplier.append($("<option></option>").val('').html('Select Primary Supplier'));
            $.ajax({
                url: 'https://localhost:7221/Product/SupplierDdl',
                type: 'GET',
                dataType: 'json',
                success: function(d) {
                    console.table(d);
                    $.each(d, function(i, primarysupplier) {
                        ddlPrimarySupplier.append($("<option></option>").val(primarysupplier.supplierId).html(primarysupplier.supplierName));
                    });
                    ddlPrimarySupplier.val(ddlPrimarySupplier.data("primarysupplier"));
                },
                error: function() {
                    alert('Error!');
                }
            });

            const ddlSecondarySupplier = $('#ddlSecondarySupplier');
            ddlSecondarySupplier.append($("<option></option>").val('').html('Please wait ...'));
            $.ajax({
                url: 'https://localhost:7221/Product/SupplierDdl',
                type: 'GET',
                dataType: 'json',
                success: function(d) {
                    console.table(d);
                    ddlSecondarySupplier.empty();
                    ddlSecondarySupplier.append($("<option></option>").val('').html('Select Secondary Supplier'));
                    $.each(d, function(i, secondarysupplier) {
                        ddlSecondarySupplier.append($("<option></option>").val(secondarysupplier.supplierId).html(secondarysupplier.supplierName));
                    });
                    ddlSecondarySupplier.val(ddlSecondarySupplier.data("secondarysupplier"));

                },
                error: function() {
                    alert('Error!');
                }
            });

            $("#ddlPrimarySupplier").change(function() {
                $('#ddlSecondarySupplier').empty();

                const SelectedSupplier = parseInt($(this).val());
                console.log(SelectedSupplier);

                if (!isNaN(SelectedSupplier)) {
                    const ddlSecondarySupplier = $('#ddlSecondarySupplier');
                    ddlSecondarySupplier.append($("<option></option>").val('').html('Please wait ...'));
                    $.ajax({
                        url: 'https://localhost:7221/Product/SupplierDdl',
                        type: 'GET',
                        dataType: 'json',
                        success: function(d) {
                            let newD = d.filter(item => item.supplierId != SelectedSupplier);
                            console.table(newD);
                            ddlSecondarySupplier.empty();
                            ddlSecondarySupplier.append($("<option></option>").val('').html('Select Secondary Supplier'));
                            $.each(newD, function(i, secondarysupplier) {
                                ddlSecondarySupplier.append($("<option></option>").val(secondarysupplier.supplierId).html(secondarysupplier.supplierName));
                            });
                            $(`#ddlSecondarySupplier option[value='${SelectedSupplier}']`).remove();

                        },
                        error: function() {
                            alert('Error!');
                        }
                    });
                }
            });


            var ddlTax = $('#ddlTax');
            ddlTax.append($("<option></option>").val('').html('Select Tax Type'));
            $.ajax({
                url: 'https://localhost:7221/Product/TaxDdl',
                type: 'GET',
                dataType: 'json',
                success: function(d) {
                    console.table(d);
                    $.each(d, function(i, tax) {
                        ddlTax.append($("<option></option>").val(tax.taxId).html(tax.name));
                    });
                    ddlTax.val(ddlTax.data("tax"));
                },
                error: function() {
                    alert('Error!');
                }
            });
        });
    </script>